/* This  allows for spaces between blanks in the word being guessed */

#output {
    white-space: pre-wrap;
}

/* Background image */

body, html {
    height: 100%;
}

.body-container {
    background-image: url(../images/stagebackdrop.jpeg);
        
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.hangman-container {
    background: rgba(255,255,255,0.9);
    color: #222222;
    border-radius: 15px;
    border: solid 1px #555555;
    margin-top: 10px;
    padding: 10px 20px;
}

.hangman-title {
    text-align: center;
    padding: 23px;
}

/* Overwrites bootstrap styling for h1 */

h1, h2 {
    margin: 0;
}

/* Styling for the div that holds the word to be guessed */

#output {
    text-align: center;
    padding: 20px 0;
    font-size: 50px;
    letter-spacing: 12px;
    word-wrap: break-word;
}

/* Styling for the div that holds the guessed letters */

#guesses-container {
    min-height: 112px;
}

#remaining, #guesses {
    font-size: 40px;
}

#remaining-container, #guesses-container, #wins-container, #losses-container {
    text-align: center;
}

#wins, #losses {
    font-size: 40px;
}

p {
    margin: 0;
}

/* Styling for the initial "Press any key to get started" message */

#getStarted {
    text-align: center;
    font-size: large;
}